<!DOCTYPE html>
<html>
  <head>
    <style>
      body,
      html {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
      }

      .main-content {
        width: 90%;
        max-width: 600px;
        text-align: center;
      }

      a {
        color: #007bff;
        text-decoration: none;
      }

      p {
        line-height: 1.5em;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="main-content">
      <p>Hi,</p>

      <p>To reset your password, visit the following link:</p>

      <p><a href="{{ reset_url }}">{{ reset_url }}</a></p>

      <p>
        If you did not request this change, please ignore this email and no
        changes will be made.
      </p>

      <p>Thank you!</p>
    </div>
  </body>
</html>
